@using Heracles.Application.Enums
@model SubNavigationViewModel

<div class="userNavContainer clearfix">
    <a asp-controller="Import" asp-action="Index">
        <div class="userNavItem import @Model.TabSelected[(int)SubNavTab.Import]">
            <p>IMPORT</p>
        </div>
    </a>
    <div class="userNavBorder left "></div>
    <div class="userNavBorder right @Model.TabSelected[(int)SubNavTab.Reports]"></div>
    <a href="#">
        <div class="userNavItem reports @Model.TabSelected[(int)SubNavTab.Reports]">
            <p>REPORTS</p>
        </div>
    </a>
    <div class="userNavBorder left "></div>
    <div class="userNavBorder right @Model.TabSelected[(int)SubNavTab.Dashboard]"></div>
    <a href="/">
        <div class="userNavItem dashboard  @Model.TabSelected[(int)SubNavTab.Dashboard]">
            <p>DASHBOARD</p>
        </div>
    </a>
    <div class="userNavBorder left selected"></div>
    <div class="userNavItem" id="userProfile">
        <div id="imgContainer" class="profileBoxSmall">
            <div class="avatarContainer">
                <a class="avatar" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img src="~/images/profile-med.jpg" title="@Model.Username"/>
                </a>
            </div>
        </div>
        <div id="userNameContainer">
            <div id="userNameText">
                <p class="userName">@Model.Username</p>
                <p class="activeSince">@Model.ActiveSince</p>
            </div>
        </div>
    </div>
</div>

