@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="subNavcontainer clearfix">
    <partial name="Activity/_SubNavigation" model="@Model.SubNavigationViewModel"/>
</div>
<div class="leftContentColumn">
    <partial name="Activity/_ActivityList" model="@Model.ActivityListViewModel"/>
</div>
<div class="mainContentColumn clearfix  leftColVisible">
    <div class="columnContent clearfix">
        <div class="activityTitle" >
            <partial name="Activity/_ActivityTitle" model="@Model.ActivityTitleViewModel"/>
        </div>
        <div class="statsBar">
            <partial name="Activity/_StatsBar" model="@Model.StatsBarViewModel"/>
        </div>
        <div id="map_area">
            <partial name="Activity/_MapArea" model="@Model.MapAreaViewModel"/>
        </div>
        <div id="chartSection" class="clearfix">
            <div class="chartItem">
                <img src="https://via.placeholder.com/700x129.png?text=Chart+Item+Module:+Elevation" style="padding-top:1px" />
            </div>
            <div class="chartItem">
                <img src="https://via.placeholder.com/700x129.png?text=Chart+Item+Module:+Average+Pace" style="padding-top:1px" />
            </div>
        </div>
    </div>
</div>